@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
    font-family: 'Quicksand', sans-serif;       
    background-color: rgb(0, 85, 100);
    color: white;
    margin: 0;
}

.icon{
    font-family: 'Jua', sans-serif;
    font-size: 50px;
    padding: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.icon a{
    text-decoration: none;
    color: #fff;
}

    
    /* ----------------nav-------------------- */
    
    .nav_container{
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }
    
    .nav_container a{
        background-color: rgb(211, 70, 70);
        text-decoration: none;
        color:aliceblue;
        width: 25%;
        border-right: 1px solid white;
    }
    
    .nav_container a:last-child{
        border-right: none;
    }
    
    .nav_container li{
        text-align: center;
        padding: 10px 0px;
    }
    
    .nav_container a:nth-child(3){
        background-color: white;
        color: black;
        font-weight: bold;
        border-bottom: 2px solid black;
    }
    
    .nav_container a:hover{
        font-weight: bold;
        cursor: pointer;
        background-color: #fff;
        color: black;
        transition: .3s;
    }
    
/* ------------------- grid_container -------------------- */


section{
    margin-top: 80px;
    margin-left: 10%;
    width: 80%;
}

.grid_container{
    margin-top: 50px;
    box-sizing: border-box;
    gap: 100px;
    display: grid;
    grid-template-rows: repeat(2,350px);
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
        "com com skill skill"
        "sites sites des des"
}

.commu{
    width: 90%;
    line-height: 3em;
    grid-area: com;
    margin: 0;
}

.design{
    text-align: right;
    line-height: 3em;
    margin: 0;
    grid-area: des;
}

.skill_progress{
    grid-area: skill;
}

.site_container{
    grid-area: sites;
}
/* ------------------- sites -------------------- */

.site_container{
    display: flex;
    margin-top: 30%;
    text-align: center;
    width: 80%;
}

.site_container img{
    margin: 10px;
    width:50px;
    height: 50px;
}

/* ------------------- skill progress -------------------- */

hr{
    border: 1px solid rgb(206, 47, 47);
}

.skill_progress{
    width: 80%;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.082);
}

.item p{
    overflow: hidden;
    margin-bottom: 0;
}

.item p span{
    float: right;
}

.progress{
    padding: 5px;
    border: 1px solid #6cd4c4;
    border-radius: 3px;
}

.skill_progress h2{
    text-align: center;
}

.progress-level{
    height: 10px;
    background: linear-gradient(to right, crimson, gold);
    border-radius: 3px;
    animation-name: ani;
    animation-duration: 1s;
}

@keyframes ani{
    0%{
        width: 0;
    }
}

/* ----------------Footer-------------------- */

footer{
    background-color: rgb(0, 0, 0);
    padding: 6px;
    text-align: center;
}

.foot a{
    color: white;
    text-decoration: none;
}

.foot a:hover{
    font-weight: bold;
}


/* ----------------media query for mobile-------------------- */


@media screen and (max-width:400px){
    .nav_container{
        flex-direction: column;
        align-items: center;
    }

    .nav_container a{
        border-right: none;
        width: 100%;
    }

    .flex_intro{
        flex-direction: column;
        align-items: center;
    }

    .grid_container{
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        "skill"
        "com"
        "des"
        "sites";
        justify-items: center;
        text-align: center;
    }

    .design{
        text-align: center;
    }

    .skill_progress{
        width: 60%;
    }    
}

/* ----------------media query for computer-------------------- */


@media screen and (max-width:1200px){
    .nav_container{
        flex-direction: column;
        align-items: center;
    }

    .nav_container a{
        border-right: none;
        width: 100%;
    }

    .flex_intro{
        flex-direction: column;
        align-items: center;
    }

    .grid_container{
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        "skill"
        "com"
        "des"
        "sites";
        justify-items: center;
        text-align: center;
    }

    .design{
        text-align: center;
    }

    .site_container{
        margin-top: 0px;
    }
}
