@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
    font-family: 'Quicksand', sans-serif;       
    background-color: rgb(0, 85, 100);
    color: white;
    margin: 0;
}

.icon{
    font-family: 'Jua', sans-serif;
    font-size: 50px;
    padding: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.icon a{
    text-decoration: none;
    color: #fff;
}

/* ----------------nav-------------------- */

.nav_container{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.nav_container a{
    background-color: rgb(211, 70, 70);
    text-decoration: none;
    color:aliceblue;
    width: 25%;
    border-right: 1px solid white;
}

.nav_container a:last-child{
    border-right: none;
}

.nav_container li{
    text-align: center;
    padding: 10px 0px;
}

.nav_container a:nth-child(1){
    background-color: white;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.nav_container a:hover{
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    color: black;
    transition: .3s;
}

/* ----------------about me-------------------- */

section{
    margin-top: 80px;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 100px;
}

img{
    border-radius: 20px;
    width: 230px; 
    height: 300px; 
    margin: 10px 0px;

}

section p{
    line-height: 35px;
    text-align: center;
}

.flex_intro{
    margin-top: 50px;
    display:flex;
    justify-content: space-evenly;
    gap: 30px;
}

/* ----------------favorite song-------------------- */

h2{
    margin-top: 50px;
}

hr{
    border: 1px solid rgb(206, 47, 47);
}

.songs li{
    padding: 10px 0px;
}

.songs a{
    color: white;
    text-decoration: none;
}

.songs a:hover{
    transition: .3s;
    letter-spacing: 5px;
    color: rgb(255, 117, 117);
    font-weight: bold;
}

/* ----------------Footer-------------------- */

footer{
    background-color: rgb(0, 0, 0);
    padding: 7px;
    text-align: center;
}

.foot a{
    color: white;
    text-decoration: none;
}

.foot li{
    margin-bottom: 7px;
    list-style: none;
}

.foot a:hover{
    font-weight: bold;
}

/* ----------------media query for mobile-------------------- */


@media screen and (max-width:400px){
    .nav_container{
        flex-direction: column;
        align-items: center;
    }

    .flex_intro{
        flex-direction: column;
        align-items: center;
    }
}

/* ----------------media query for computer-------------------- */


@media screen and (max-width:670px){
    .nav_container{
        flex-direction: column;
        align-items: center;
    }

    .nav_container a{
        border-right: none;
        width: 100%;
    }

    .flex_intro{
        flex-direction: column;
        align-items: center;
    }
}