@import
    url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body{
    font-family: 'Halant', serif;    
    background-color: rgb(0, 85, 100);
    color: white;
}

nav{
    margin: 0;
    background-color: black;
}

.nav_container{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.nav_container a{
    text-decoration: none;
    color:aliceblue;
}

.nav_container li{
    width: 25%;
    text-align: center;
}

.nav_container li:nth-child(3){
    background-color: white;
    border-bottom: 2px solid black;
}

.nav_container li:nth-child(3) a{
    color: black;
    font-weight: bold;
}

.nav_container li:hover{
    font-weight: bold;
    cursor: pointer;
}

li{
    padding: 10px 0px;
}

/* ------------------- skill progress -------------------- */

section{
    margin-top: 60px;
    margin-left: 10%;
    width: 80%;
}

.skill_progress{
    width: 500px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.082);
}

.item p{
    overflow: hidden;
    margin-bottom: 0;
}

.item p span:nth-child(1){
    float: left;
}

.item p span:nth-child(1){
    float: right;
}

.progress{
    padding: 5px;
    border: 1px solid #6cd4c4;
    border-radius: 3px;
}

.skill_progress h2{
    text-align: center;
}

.progress-level{
    height: 10px;
    background: linear-gradient(to right, crimson, gold);
    border-radius: 3px;
    animation-name: ani;
    animation-duration: 1s;
}

@keyframes ani{
    0%{
        width: 0;
    }
}

/* ----------------media query for mobile-------------------- */


@media screen and (max-width:400px){
    .nav_container{
        flex-direction: column;
        align-items: center;
    }

    .flex_intro{
        flex-direction: column;
        align-items: center;
    }
}

/* ----------------media query for computer-------------------- */


@media screen and (max-width:670px){
    .nav_container{
        flex-direction: column;
        align-items: center;
    }

    .flex_intro{
        flex-direction: column;
        align-items: center;
    }
}