@import
    url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body{
    font-family: 'Halant', serif;    
    background-color: rgb(255, 255, 255)
}

nav{
    margin: 0;
    background-color: black;
}

.nav_container{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.nav_container a{
    text-decoration: none;
    color:aliceblue;
}

.nav_container li{
    width: 25%;
    text-align: center;
}

.nav_container li:nth-child(2){
    background-color: white;
    border-bottom: 2px solid black;
}

.nav_container li:nth-child(2) a{
    color: black;
    font-weight: bold;
}

.nav_container li:hover{
    font-weight: bold;
    cursor: pointer;
}

section{
    margin-top: 60px;
    margin-left: 10%;
    max-width: 80%;
}

section p{
    border-radius: 10px;
    width: 50%;
    padding: 80px;
    background:linear-gradient(135deg,rgb(226, 255, 173),white);
    line-height: 24px;
    text-align: center;
}

h2{
    margin-top: 50px;
}

hr{
    border: 1px solid rgb(169, 37, 37);
}

li{
    padding: 10px 0px;
}

.songs a{
    color: black;
    text-decoration: none;
}

.songs a:hover{
    transition: .3s;
    letter-spacing: 5px;
    color: rgb(169, 37, 37);
    font-weight: bold;
}