@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
    font-family: 'Quicksand', sans-serif;       
    background-color: rgb(0, 85, 100);
    color: white;
    margin: 0;
}

.icon{
    font-family: 'Jua', sans-serif;
    font-size: 50px;
    padding: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.icon a{
    text-decoration: none;
    color: #fff;
}

    
    /* ----------------nav-------------------- */
    
    .nav_container{
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }
    
    .nav_container a{
        background-color: rgb(211, 70, 70);
        text-decoration: none;
        color:aliceblue;
        width: 25%;
        border-right: 1px solid white;
    }
    
    .nav_container a:last-child{
        border-right: none;
    }
    
    .nav_container li{
        text-align: center;
        padding: 10px 0px;
    }
    
    .nav_container a:nth-child(2){
        background-color: white;
        color: black;
        font-weight: bold;
        border-bottom: 2px solid black;
    }
    
    .nav_container a:hover{
        font-weight: bold;
        cursor: pointer;
        background-color: #fff;
        color: black;
        border-bottom: 2px solid black
    }


/* ----------------Button-------------------- */

hr{
    border: 1px solid rgb(206, 47, 47);
}

section{
    margin-top: 80px;
    margin-left: 10%;
    width: 80%;
}

.flex_container{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.flex_container .item{
    position: relative;
    margin-bottom: 80px;
}

.flex_container img{
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.flex_container .caption{
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    background-color: black;
    color: aliceblue;
    position: absolute;
    top: 0;
    padding: 30px;
    padding-top: 50px;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.3s;
}

.flex_container .caption:hover{
    opacity: 100;
}

.flex_container p{
    margin-bottom: 30px;
}

.flex_container .caption a{
    text-decoration: none;
    background-color: rgb(134, 237, 255);
    padding: 8px 20px;
    border-radius: 3px;
}

.flex_container .caption a:hover{
    background-color: aliceblue;
    color: black;
}

/* ----------------Footer-------------------- */

footer{
    background-color: rgb(0, 0, 0);
    padding: 80px;
    text-align: center;
}

/* ----------------media query for mobile-------------------- */


@media screen and (max-width:400px){
    .nav_container{
        flex-direction: column;
        align-items: center;
    }

    .flex_intro{
        flex-direction: column;
        align-items: center;
    }
}

/* ----------------media query for computer-------------------- */


@media screen and (max-width:670px){
    .nav_container{
        flex-direction: column;
        align-items: center;
    }

    .nav_container a{
        border-right: none;
        width: 100%;
    }

    .flex_intro{
        flex-direction: column;
        align-items: center;
    }
}